@use '../util' as *;


.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: myrem(30);

    @include breakpoint(medium){
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large){
        grid-template-columns: repeat(4, 1fr);
    }
}

.card{
    position: relative;
    overflow: hidden;
    background: var(--card-color);
    color: var(--text1-color);
    text-align: center;
    padding: myrem(25);
    border-radius: myrem(5);
    transition: background 150ms ease-in-out;
    cursor: pointer;

    &:hover{
        background: var(--card-hover);
    }

    &--pack1{
        border-top: myrem(4) solid var(--testgradient-start);
    }
    &--pack2{
        
    }
    &--pack3{
        
    }
    &--pack4{
        
    }

    &__top{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: myrem(28);
    }

    &__subtitle{
        font-size: myrem(14);
        font-weight: bold;
    }
    
    &__icon{
        margin-right: myrem(8);
    }

    &__packname{
        font-size: myrem(12);
        font-weight: bold;
    }

    &__progress{
        margin-bottom: myrem(25);

    }

    &__count{
        color: var(--text2-color);
        font-weight: bold;
        letter-spacing: myrem(-2);
        margin-bottom: myrem(4);

        &--big{
            font-size: myrem(56);
        }
        &--small{
            font-size: myrem(32);
        }
    }

    &__label{
        font-size: myrem(12);
        letter-spacing: myrem(5);
        color: var(--text1-color);
        font-weight: normal;
        text-transform: uppercase;
    }

    &__streak{
        font-size: myrem(12);
        font-weight: bold;

        &--up{
            color: var(--limegreen);
        }
        &--broken{
            color: var(--brightred);
        }
    }
}